<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>278882773004-ajvslcmujqr8fkv66ebanqg0n72f2qoq.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.278882773004-ajvslcmujqr8fkv66ebanqg0n72f2qoq</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>278882773004-cheop71e5sic1gfd8tbkgtvub36l09bt.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyBClTZ3mIlvLc1qDhz_BhDNUINu088MdW0</string>
	<key>GCM_SENDER_ID</key>
	<string>278882773004</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>me.skillspro.skillspro</string>
	<key>PROJECT_ID</key>
	<string>skillspro-81dd6</string>
	<key>STORAGE_BUCKET</key>
	<string>skillspro-81dd6.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:278882773004:ios:6084098975c93b7e752629</string>
</dict>
</plist>